nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding-top: 1% !important;
  background: linear-gradient(180deg, rgba(0,0,0,0.75) 0%, rgba(0,212,255,0) 100%);
}

nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

nav a {
  color: #fff !important;
  font-family: "Montserrat";
  font-weight: 100;
  text-decoration: none;
}

@media (max-width: 768px) {
  nav a {
    font-size: 2vw;
  }
}

nav a:hover {
  opacity: 0.5;
}

nav img {
  width: 20%;
}
